


/*Custom styles*/

body{
    font-family: 'Roboto', sans-serif;
}
/*........................Container.................................*/
.container{
    max-width: 1200px;
    margin:0 auto;
    padding:32px 0;
}
.flex{
    display:flex;
    flex-direction: row;

}

.space-evenly{
    justify-content: space-evenly;
}


/*........................Header............................................*/
.header{
    background-color:orangered
}
.nav-list li{
    margin-right: 10px;
    list-style-type: none;
    
}

.nav-list li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}


/*............................List Section.........................................*/
.main{
    background-color: #ffdd99;
}

.box{
    width:30%;
    background-color:royalblue;
    box-shadow: 6px 6px 10px 2px rgba(0,0,0,0.7);
}

.listing li{
    color:#ffdd99;
    margin:15px 0;
}

.listing li a{
    text-decoration:none;
    text-transform: capitalize;
    color:#ffdd99;
}

.img-marker{
    list-style-image: url("media/tick.svg");
}


h2{
    font-size:32px;
    font-weight: 400px;
}

p{
    text-indent: 30px;
}

.footer{
    background-color: black;
}